
  <meta property="og:site_name" content="https://andev.ml">
  <meta property="og:image" content="https://github.com/andremalveira.png">

  <meta name="twitter:site" content="https://andev.ml">
  <meta name="twitter:image" content="https://github.com/andremalveira.png">
  <meta name="twitter:card" content="summary">
  
  <meta name="theme-color" content="#6631CE">

  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="shortcut icon" href="https://github.com/andremalveira.png" type="image/x-icon">
